@font-face {
  font-family: "Patua One";
  src:
    url("../fonts/Patua_One/PatuaOne-Regular.woff2") format("woff2"),
    url("../fonts/Patua_One/PatuaOne-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    local("Roboto Regular"),
    url("../fonts/Roboto/roboto-regular.woff2") format("woff2"),
    url("../fonts/Roboto/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
